@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');


figure{
    margin-top: 30px;
    border: 2px solid #0d1c0d;
    padding: 20px;
    background-image: url(https://mir-s3-cdn-cf.behance.net/projects/404/d14a6288550241.Y3JvcCwxMjc4LDEwMDAsOSww.jpg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: auto;
    cursor: pointer;


    h3{
        width: 100%;
        font-size: 1.25rem;
        font-family: 'Kdam Thmor Pro', sans-serif;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-bottom: 15px;
        padding: 10px 20px 10px 20px ;
        background-color: rgba(255, 255, 255, 0.600);

    }

    img{
        height: 200px;
    }

    &:hover{
        transform: scale (1.5);
    }
}