@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

h2{
    color: #dfe25a;
    font-size: 2rem;
    font-family:'Russo One', sans-serif;
    margin: 40px;
    font-weight: lighter;
    width: fit-content;
}