<app-section-title [title]="'Sobre la serie'"></app-section-title>

<main>

    <section>
        <p>
            Rick y Morty (en inglés: Rick and Morty) es una serie de televisión estadounidense de animación para adultos creada por Justin Roiland y Dan Harmon en 2013 para Adult Swim. La serie sigue las desventuras de un científico, Rick, y su fácilmente influenciable nieto, Morty, quienes pasan el tiempo entre la vida doméstica y los viajes espaciales, temporales e intergalácticos. 
        </p>
        <p>    
            La serie se originó por un cortometraje rudimentario animado por Roiland para el festival de cine Channel 101 llamado Doc and Mharti, una parodia de los principales protagonistas de Back to the Future.
        </p>
        <p>
            Cuenta con 5 temporadas y 51 episodios en total.
        </p>
    </section>

    <img src="../../../assets/mr. meeseeks_2.png" alt="Mr. Meeseeks">

</main>
